<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shafagh.myfitnesshealthapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=" "
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:label="Sign Up">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".LogIn" />
        <activity
            android:name=".SignUpPage"
            android:label="General Information">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SignUp" />
        </activity>
        <activity
            android:name=".serachItem.DetailItemInfo"
            android:label="General Information">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".serachItem.AddItemInfo" />
        </activity>
        <activity android:name=".SignUpPageCon">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SignUpPage" />
        </activity>
        <activity android:name=".Dairy" />
        <activity android:name=".serachItem.AddItemInfo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Dairy" />
        </activity>
        <activity
            android:name=".SignUpEmail"
            android:label="Sign Up With Email">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SignUp" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>